@model MusicHub.Models.User
@{
    Layout = "~/Views/Shared/_Logged_Layout.cshtml";    
}

    <div class="row">
            <div class="col s4">
                @Html.Partial("~/Views/Shared/_SettingsPanel.cshtml")
            </div>
            <div class="col s8 center">
                <h3>Profile picture</h3>
                @using (Html.BeginForm("_ChangeProfilePicture", "User", FormMethod.Post))
                {
                    <p class="field-validation-error">@ViewBag.Error</p>
                    <div class="row">
                        <div class="col s12">
                            @Html.Hidden("photoTempUrl")
                            <input type="submit" class="btn blue darken-2" value="Update picture" />
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col s12">
                        <form method="post" class="dropzone card" id="myDropZone" role="form">
                            <div id="dropzone">
                                <div class="dz-default dz-message"><span>Drop or select files here to upload</span></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
