@model MusicHub.Models.User
@{
    ViewBag.Title = "ChangeProfilePicture";
}

    <div class="row">
        <div class="col s4">
            @Html.Partial("~/Views/Shared/_SettingsPanel.cshtml")
        </div>
        <div class="col s8">
            
        </div>
    </div>

