
@{
    Layout = "~/Views/Shared/_Register_Layout.cshtml";
}

<h2>Results</h2>
<div class="row">
    <label for="search"><i class="material-icons">search</i></label>
    <input id="search" name="search" type="search" required>
    <p>Showing results of: <i>@ViewBag.Result</i>.</p>
</div>